asn1crypto==0.24.0
Authlib==0.7
blinker==1.4
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.2.2
Flask==1.0.2
gunicorn==19.8.1
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
psycopg2-binary==2.7.4
pycparser==2.18
PyGithub==1.39
PyJWT==2.4.0
python-dotenv==0.8.2
requests==2.18.4
sentry-sdk==0.7.10
six==1.11.0
urllib3==1.24.1
Werkzeug==0.15.2
