{% extends "base.html" %}

{% block content %}

<h1>Create Blog Post</h1>
<form action="" method="POST">
    <div class="form-group">
        <label for="name">Post Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="e.g. We Rock! Here's Why">
        <small class="form-text text-muted">The title of your new blog post.</small>
    </div>

    <div class="form-group">
        <label for="body">Post Body</label>
        <input id="body" type="hidden" name="body">
        <trix-editor input="body" class="trix-content"></trix-editor>
        <small class="form-text text-muted">The content of your blog post</small>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success mt-2">Create Blog Post</button>
    </div>
</form>

{% endblock %}
