{% extends "base.html" %}

{% block content %}
<h1>Welcome to the CodeGuild</h1>

<p class="lead">The CodeGuild is a collective of students learning programming and working on projects together. Twice a year new cohorts of students are invited to <a href="https://www.villierspark.org.uk/">Villiers Park</a> to take part in a week-long residential course. They are given a project to work on during the week. This website showcases those projects.</p>

<ul>{% for r in repos %}
    <li>
        <h2>{{ r.name }}</h2>
        <ul class="links">
            {% if r.website %}<li><a href="{{ r.website }}">Website</a></li>{% endif %}
            <li><a href="{{ r.github }}">GitHub</a></li>
            <li><a href="{{ url_for('project', name=r.name) }}">See more...</a></li>
        </ul>
        <p class="description">{{ r.description }}</p>
    </li>
{% endfor %}</ul>

{% endblock %}
