{% extends "base.html" %}

{% block content %}

<h1>{{ repo.name }}</h1>

<ul class="links">
    {% if repo.website %}<li><a href="{{ repo.website }}">Website</a></li>{% endif %}
    <li><a href="{{ repo.github }}">GitHub</a></li>
</ul>

<p class="lead">{{ repo.description }}</p>

<h2>Contributors</h2>

<ul class="contributors">
    {% for c in repo.contributors %}
        <li><a href="{{ c.link }}">{{ c.name }}</a></li>
    {% endfor %}
</ul>

<div class="summary trix-content">{{ repo.summary|replace('h1>', 'h2>')|safe }}</div>
{% if is_editor %}
    <div class="text-right">
        <a href="{{ url_for('update_project', name=repo.name) }}" class="btn btn-primary">
            <i class="fa fa-edit"></i>
            Update Project
        </a>
    </div>
{% endif %}

<h2>Blog</h2>

{% if is_editor %}
    <div>
        <a href="{{ url_for('create_blog_post', project_name=repo.name) }}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Create Blog Post
        </a>
    </div>
{% endif %}

<ul class="posts">
    {% for p in posts %}
        <li>
            <h3>{{ p.name }}</h3>
            <p class="created_on">{{ p.created_on }}</p>
            <div class="body trix-content">{{ p.body|safe }}</div>
            {% if is_editor %}
                <div class="text-right">
                    <a href="{{ url_for('update_blog_post', project_name=repo.name, post_id=p.id) }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                        Update Blog Post
                    </a>
                    <a href="{{ url_for('delete_blog_post', project_name=repo.name, id=p.id) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete Blog Post
                    </a>
                </div>
            {% endif %}
        </li>
    {% else %}
        <li>No blog posts yet :(</li>
    {% endfor %}
</ul>

{% endblock %}
