{% extends "base.html" %}

{% block content %}

<h1>Update Project: {{ name }}</h1>

<form action="" method="POST">
    <div class="form-group">
        <label for="body">Project Summary</label>
        <input id="summary" type="hidden" name="summary" value="{{ summary }}">
        <trix-editor input="summary" class="trix-content"></trix-editor>
        <small class="form-text text-muted">A quick summary of the project.</small>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-success mt-2">Save Project</button>
    </div>
</form>

{% endblock %}
